<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <mian>
    <!--Contenido de cada vista-->
    <%- body %>
    </mian>
    <footer>
        <p>Mini curso de español - © 2025</p>
    </footer>
</body>
</html>